.project-detail-bullet-list-container {
  padding-top: 1em;

  .bullet-list-title {
    text-align: center;
  }

  .bullet-list-container {
    display: flex;
    justify-content: center;
    max-width: 960px;
    margin: 0 auto;

    .item {
      max-width: 325px;
      margin: 1em 2em;

      .title {
        font-size: 36px;
      }

      .text {
        font-size: 18px;
        line-height: 29px;
      }
    }
  }
}
