.quote-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;

  .quote {
    max-width: 1017px;
    font-size: 36px;
    font-weight: bold;
  }
}
