.ui-specs-container {
  display: flex;
  justify-content: center;
  margin: 8em 0;

  .ui-specs {
    min-width: 200px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;

    &:hover {
      cursor: pointer;
    }
  }
}
