.reflections-section {
  height: auto;

  .spacer-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;

    .spacer {
      width: 150px;
      height: 7px;
    }
  }

  .reflections-container {
    margin: 6em auto 4em;
    max-width: 686px;

    .reflections-title {
      margin-top: 4em;
      font-size: 36px;
      font-weight: bold;
      font-family: "Tara";
      font-weight: 500;
      font-style: italic;
    }

    .horizontal-line {
      display: inline-block;
      width: 45px;
      height: 1px;
      margin-left: 1em;
      margin-bottom: 0.3em;
      background: #979797;
    }

    .article-container {

      .title {
        margin-top: 3em;
        font-size: 24px;
      }

      .text {
        font-size: 18px;
        line-height: 29px;
      }
    }
  }
}
