.hero-container {

  .hero-title {
    font-size: 28px;
    font-family: "Tara";
    font-weight: 500;
  }

  .bar {
    width: 68px;
    height: 5px;
    margin-top: 1em;
  }

  .hero {
    font-size: 144px;
    font-family: "Tara";
    font-weight: 500;
    font-style: italic;
  }
}
