.connect-page-container {
  .our-questions-container {
    position: relative;
    top: -30px;

    p {
      margin-top: 0.1em;
      margin-bottom: 0.1em;
    }
  }

  .digital-realism-text-container {
    .digital-realism-quote {
      font-family: "Tara";
      font-style: italic;
    }
  }
}
