@font-face {
  font-family: "Tara";
  src: url('../fonts/itf-tara.otf');
}

@font-face {
  font-family: "Tara";
  src: url('../fonts/itf-tara-bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: "Tara";
  src: url('../fonts/itf-tara-semibold.otf');
  font-weight: 500;
}
