$allergies-green: #28C8A1;

.allergies-container {
  .testimonials-section {
    height: auto;
    background: #F0EEEE;

    .testimonials-container {
      padding: 1em 0;

      .testimonials-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 4em;

        .testimonial {
          display: flex;
          flex-direction: column;
          max-width: 359px;
          height: 352px;
          justify-content: space-between;
          align-items: center;

          .image {
            margin: 0 auto;
            height: 130px;
            width: 110px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }

          .testimony {
            font-size: 24px;
            line-height: 32px;
            text-align: center;
          }

          .testimony-attribution {
            color: $allergies-green;
            font-size: 14px;
            margin: 0 auto;
          }
        }
      }
    }
  }

  .allergies-chart-section {
    height: auto;

    .allergies-chart-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 6em 0 2em;

      .allegies-chart-title {
        margin-bottom: 0;
      }

      .allergies-chart-image {
        height: 452px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  .opportunity-areas-section {
    height: auto;
    background: #EAEAEA;

    .opportunity-areas-container {
      padding: 2em 0;

      .title {
        text-align: center;
      }

      .bullet-list-container {
        max-width: 960px;
        margin: 0 auto;

        .bullet-list-row {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 1em;

          .item {
            max-width: 226px;
            min-height: 175px;
            margin: .5em 2em;

            .bar {
              background: $allergies-green;
              width: 50px;
              margin: 0.5em auto;
              height: 5px;
            }

            .text {
              font-size: 18px;
              line-height: 29px;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .reflections-section {
    height: auto;

    .spacer-container {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;

      .spacer {
        width: 150px;
        height: 7px;
      }
    }

    .reflections-container {
      margin: 6em 8em 4em;

      .reflections-title {
        margin-top: 4em;
        font-size: 36px;
        font-weight: bold;
      }

      .horizontal-line {
        display: inline-block;
        width: 45px;
        height: 1px;
        margin-left: 1em;
        margin-bottom: 0.3em;
        background: #979797;
      }

      .article-container {
        .title {
          margin-top: 3em;
          font-size: 24px;
        }

        .text {
          font-size: 18px;
          line-height: 29px;
        }
      }
    }
  }
}
